/**
 * Place your custom CSS styles here.
 **/

#serverMap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000 !important;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
}

#distanceRoutes {
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 100vw;
    justify-content: center;
    bottom: 0;
    padding: 2vh;
    font-size: 30px;
    background-color: #a1a1a1;
    font-family: Courier;
}

#distanceNum {
    padding: 0 10px;
}